# ===================================================================
# .gitignore for FinalProject (Monorepo)
# ===================================================================

# 忽略 STM32 项目的编译输出
# 路径是相对于仓库根目录的
Saffron_STM32_Core/Debug/
Saffron_STM32_Core/Release/
Saffron_STM32_Core/build/
project_snapshot.txt
# Python virtual environment
.venv/
.direnv/
.envrc
venv/
